/* hamburger */


body{
    margin: 0;
}

#menu{
    width: 35px;
    height: 30px;
    margin:30px 0 20px 20px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    padding-top: 12px;

}

.bar{
    height: 5px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
    

}

#bar1{
    transform: translateY(-4px);
}


#bar3{
    transform: translateY(4px);
}

.icon .bar{
    background-color: black;
}

.icon #bar1{
    transform: translateY(4px) rotate(-45deg);
}
.icon #bar3{
    transform: translateY(-4px) rotate(+45deg);
}
.icon #bar2{
    opacity: 0;
}

#hide{
    width: 100%;
    height: 150vh;
    transition: 1s ease;
    /* display: none; */
    display: none;
    /* z-index: 104; */
}




#pic .b-1 {
    color: white;
   

}


#pic .b-1{
    background-color: black;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    
}

#pic .b-2{
    background-color: rgb(229, 228, 228);
    height: 60px;
    width: 200px;
    border-radius: 10px;
    
}

#pic{
    display: flex; 
    padding-top: 69px;
    
}
#pic ul{
    list-style: none;
}

#pic ul li{
    padding-bottom:5px;
}

#pic ul li .b-1:hover{
   background-color: rgb(64,64,64);
}
#pic ul li .b-2:hover{
    background-color: rgb(182, 182, 182);
}

#nav1{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.nav li{
    padding: 5px;
}

.ue ul{
    display: flex;
    position: absolute;
    list-style: none;
}

.ue ul li img{
    margin-right: 14px;
}


#plat{
    display: flex;
    margin-top: 150px;
    margin-left: 40px;;
}

#plat .class button{
    border-radius: 10px;
    height: 33px;
    width: 80px;
}


/* top  */




#top::before{
   
    content: "";
    background-image:url(images/back4.jpg);

    background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left:0px;
    height: 80%;
    width:100%;
    z-index: -1;

}


#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding-left: 65px;
}

 #b1 img{
    height: 10px;
}

#b1{
    margin-right: 10px;
}

#navbar #title{
    font-size: x-large;
}

#navbar ul{
    display: flex;
    position: absolute;
    right: 2px;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li button{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
}

#one{
    background-color: white;
    height: 40px;
}

#one:hover{
    background-color: rgb(182, 182, 182);
}

#two{
    color: white;
    background-color: black;
    height: 40px;

}

#two:hover{
    background-color: rgb(64, 64, 64);
}

/* till sign in */
#container{
    display: flex;
    flex-wrap: wrap;
}

#login{
    margin:  20px;
    padding-left: 43px;
}

.first{
    padding-right: 10px;
    

    
}

.second{
    padding-right: 10px;
}

#time{
    height: 35px;
    width: 118px;

}

#food{
    border-radius: 7px;
    background-color: black;
    color: white;
}

.input{
    height: 30px;
    width: 270px;
}

#l1{
    font-size: xx-large;
}

#l2 a{
    color: black;
}

/* services */

#services{
    
    margin-top: 312px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between ;
    
}


#services .box img{
    height: 250px;
    padding: 6px;
}

#services .box h2{
    padding: 3px 0px 4px 4px ;
    margin-top: 5px;
    margin-bottom: 5px;
}
#services .box u{
    padding: 3px 0px 4px 4px ;
}

#services .box a{
    color: black;
    text-decoration: none;
    
}

/* maps */

.city{
    display: flex;
    padding-top: 30px ;
    
}

#location .map{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 5px;
}

/* #location .city p{
    position: absolute;
    right:2px;
} */

#location .city ul{
    list-style: none;
}
/* #location ul{
    display: flex;
    position: absolute;
    right: 2px;
} */

/* .city :last-child{
    align-self: right;

} */
.city ul li p{
    display: flex;
    position: absolute;
    right: 2px;
}

#location .city h1{
    font-size: xx-large;
}

#location .city ul li a p{
    color: black;
    font-size: large;
    
    
}


/* cities */

#cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

#cities .grid-item{
    
  padding: 12px;
  font-size: 20px;
  
  
  text-align: justify;
  
}
#cities .grid-item a{
    color: black;
    text-decoration: none;

}


/* countries */

#country .H1{
    display: flex;
}

#country .H1 ul{
    list-style: none;
}

#country .H1 ul li a{
    text-decoration: none;
}

#country .H1 ul li a p{
    display: flex;
    position: absolute;
    right: 2px;
    color: black;
}

#country .H1 h1{
    color: black;
    font-size: x-large;
}

#countries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

#countries .grid{
    padding: 15px;
    font-size: 20px;
    text-align: justify;
}

#countries .grid a{
    color: black;
    text-decoration: none;
}

/* footer */

#footer{
    display: flex;
    padding-top: 8px;
    
}

#footer .media{
    padding: 5px;
    margin-left: 20px;
}

#footer .text{
    display: flex;
    position: absolute;
    right: 2px;
    
}

#footer .text ul{
    display: flex;
    list-style: none;
    
}

#footer .text ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 25px 5px 15px;
    margin-top: 1px;
}

/* links */

#links{
    display: flex;
    padding-top: 25px   ;
    padding-bottom: 25px   ;
    
}

#links #download #d2 ul{
    display: flex;
    list-style: none;
    
}

#links #download .link-1{
    margin-left: 40px;
    margin-bottom: 140px;
}

#links #download #d2 ul li .link-2{
    padding-right: 10px;
}

.link-2 img{
    padding-top: 59px;
}
.link-3 img{
    padding-top: 59px;
}

#links .direct-1 ul{
    list-style: none;
}

#links .direct-2 ul{
    list-style: none;
}

.direct-2 ul li a{
    text-decoration: none;
    color: black;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.direct-1 ul li a{
    text-decoration: none;
    color: black;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
}

 .u1{
    display: flex;
    list-style-type: none;
   flex-wrap: wrap;
    padding-left: 600px;
}

.u1 li{
    padding: 10px;
}
#links2{
    display: flex;
    margin: right 10px; ;
}

#links2 .u1{
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
}




/* final */
#final{
    display: flex;
    position:absolute;
    right: 2px;
    
}

#final ul{
    display: flex;
    list-style: none;
    
}

#final ul li{
    padding: 15px 20px 15px 15px;
}

#final ul li a{
    text-decoration: none;
    color: black;
}

#final ul li img{
    height: 15px;
    width: 15px;
    
}







.hide {display: flex;}
.hide li {padding-left: 30px;}
.hide li a {
    display: flex;
    text-decoration: none;
    
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.hide li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(180, 177, 177);
    transition: 0.15s ease-in-out;
}
.hide li a:hover:after {width: 100%;}
.open-hide , .close-hide {
    position: absolute;
    
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-hide {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-hide {
    top: 20px;
    right: 20px;
}
#check {display:none;
 border-radius: 222px;
}

    .hide {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0%;
        right: 100%;
        z-index: 100;
        background-color: white;
        transition: all 0.2s ease-in-out;
    }
    #check{
        display: flex;
        
        margin: zero;
    }
    .hide li {margin-top: 40px;}
    .hide li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .hide {right: 0;}







    